@media screen and (min-width: 438px) {
.righttext h2 {
	margin: 0 0 0 150px;
}

.leftLogo img {
	margin-top: 1em;
	width: 7em;
}

#letter h2 {
	margin-top: 0.5em;
}

footer {
	font-size: 1.5em;
}
}

@media screen and (min-width: 700px){
.righttext h2 {
	margin-left: 380px;
}

.image2 {
	order:1;
}

#letter h2 {
	padding-left: 4.5em;
}

#letter form {
	margin-left: 1.5em;
}

.container {
	display: flex;
}
}

@media screen and (min-width: 800px) {
section {
		width: 800px;
		margin-right: auto;
		margin-left: auto;
	}

.righttext h2 {
	margin-left: 450px;
}

.leftLogo img {
	width: 8em;
}

.image3 {
	order:0;
}

.image1 {
	order:1;
}
}

@media screen and (min-width: 1020px) {
.righttext h2 {
	margin-left: 680px;
}

.image2 {
	order:0;
}

.image1 {
	order:1;
}
}

@media screen and (min-width: 1250px) {
.righttext h2 {
	margin-left: 800px;
}

.image2 {
	order:2;
}

.image1 {
	order:1;
}
}
