/* General */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
	color: purple;
}

.container {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

/* Header */
header {
	width:100%;
	background: #fff;
	color: purple;
	padding-top: 20px;
	min-height: 70px;
	border-bottom: purple 3px solid;
}

header a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}
.leftLogo img {
	margin-top: 0.5em;
	float: left;
	width: 5em;
	margin: 0;
	padding: 0;
}

.righttext h1 {
	float: right;
	margin: 0 0 0 0;	
}

/* color different letters of my name*/
.blue {
	color: #4285f4;
}

.red {
	color: #ea4335;
}

.yellow {
	color: #fbbc05;
}

.green {
	color: #34a853;
}

.righttext h2 {
	float: right;
	margin-top: 0.5em;
	margin: 0;
}

/* Showcase */
#showcase{
	min-height: 300px;
	background: url("Image/scholarship.png") no-repeat 0 -200px;
	background-size: contain;
	background-position: center;
}

/* Email */
#letter {
	padding: 0.3em;
	max-height: 10em;
	color: #ffffff;
	background: #35424a;
	margin-top: 0.3em;
}
#letter h2 {
	float: left;
	padding: 0;
	margin: 0;
}

#letter form {
	float: right;
	margin-top: .5em;
}

#letter input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 250px;
}

.button_1{
	height: 25px;
	background: purple;
	border: 1px #ccc solid;
	color: white;
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 0.5em;
	text-decoration: none;
	border-radius: 50px;
	transition: background 500ms ease;
}

.button_1:hover {
	background: #f4f4f4;
	color: purple;
	font-weight: 800;
}

/* Images */
#images{
	margin-top: 20px;
}

#images .image1,
#images .image2,
#images .image3 {
	display: block;
	width: 100%;
	margin-bottom: 2.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

#images .image1 img,
#images .image2 img,
#images .image3 img {
	display: block;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}

#images .image1 h3,
#images .image2 h3,
#images .image3 h3 {
	text-align: center;
	padding: 0;
	margin: 0;
}

#images .image1 p,
#images .image2 p,
#images .image3 p {
	text-align: center;
	padding: 0 5px 5px 5px;
	margin: 0 5px 5px 5px;
}

/* footer */
footer {
	padding: 15px;
	margin-top: 15px;
	color: #fff;
	background-color: purple;
	text-align: center;
}

